<p>Looks like you’ve finished adding your job posting to the website, Congratulations!</p>
<p>Our goal is to drive qualified traffic to our site and make sure they see your listing.  At the end of the day, you want to hire the right people and we like happy customers. If there is anything else we can provide to you, please don’t hesitate to reach out to our team by emailing support@wehirefitness.com</p>

<p>Happy Listing!</p>
<p><%= link_to 'Check out your posting!', @job %></p>
<p>We Hire Team</p>
<br>
<p>Receipt:</p>
<div style='padding-left: 8px;'>
  <div>Date: <%= Time.at(@charge[:created]).strftime("%d %b %Y%l:%M %p %Z") %></div>
  <div>Amount: <%= sprintf('$%0.2f', @charge[:amount].to_f / 100.0).gsub(/(\d)(?=(\d\d\d)+(?!\d))/, "\\1,") %> (USD)</div>
  <div>Charged to: <%= @charge[:source][:brand] %> (**** **** **** <%= @charge[:source][:last4] %>)</div>
  <div>Charge ID: <%= @charge[:id] %></div>
</div>
