<%= link_to 'Home', root_path, :class => 'button back' %>
<br />
<br />
<%= form_for(@job, :url => { :action => :review }) do |f| %>
  <h1>Let's get started</h1>
  <p>Your job listing will remain on this site for 30 days. After 30 days your job listing will expire and be removed. You can always post the job again by filling out this form and making the $25 payment for an additional 30 days.</p>

  <hr />
  <h3>About the job...</h3>
  <div class="field">
    <%= f.label :job_title %>
    <div class='description'>"Yoga Teacher" or “Zumba Instructor”</div>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, options_for_select(category_selects, @job.category), :name=>'category', :id=>'category' %>
  </div>

   <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state %><br>
    <%= f.select :state, options_for_select(us_states, @job.state), :name=>'state', :id=>'state' %>
  </div>

   <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <div class='description'>Detailed information about this job posting.</div>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :how_to_apply %><br>
    <div class='description'>Example: Send your resume to hr@mybusiness.com</div>
    <%= f.text_area :how_to_apply %>
  </div>

  <hr />
  <h3>About your company...</h3>
  <div class="field">
    <%= f.label :name %><br>
    <div class='description'>Enter your company name.</div>
    <%= f.text_field :company_name %>
  </div>

  <div class="field">
    <%= f.label :About %><br>
    <div class='description'>A short description of your company.</div>
    <%= f.text_area :company_description %>
  </div>

  <div class="field">
    <%= f.label :Website %><br>
    <div class='description'>Example: https://mybusiness.com/careers/</div>
    <%= f.text_field :company_url %>
  </div>

  <div class="field">
    <%= f.label :Email %><br>
    <div class='description'>This is where we’ll send your receipt and confirmation email.</div>
    <%= f.text_field :company_email %>
  </div>

  <div class="actions">
    <%= f.submit 'Preview your job posting', :class => 'forward' %>
  </div>
<% end %>


<script type="text/javascript">
$(document).ready(function () {
  $('#new_job').validate({
    debug: true,
    rules: {
      'job[title]': { required: true },
      'job[city]': { required: true },
      'job[zip]': { required: true },
      'job[description]': { required: true },
      'job[how_to_apply]': { required: true },
      'job[company_name]': { required: true },
      'job[company_description]': { required: true },
      'job[company_url]': { required: true },
      'job[company_email]': { required: true, email: true },
    },
    submitHandler: function(form) {
      form.submit();
    }
  });
});

</script>











