<h1>How does this look?</h1>

<%= link_to 'Make a change', jobs_new_path, :class => 'button back' %>
<br>
<br>
<%= render partial: 'jobs/job', locals: { job: @job } %>

<div class='review-action-wrap'>
	<h6>Almost done – review your listing before posting live</h6>
	<br />
	<%= link_to 'Make a change', jobs_new_path, :class => 'button back' %>

	<% if current_admin %>
		<%= link_to 'Admin - Publish', '/jobs/complete_purchase', :class => 'button forward', :method => :post %>
	<% else %>
		<%= link_to 'Purchase Listing', jobs_purchase_path, :class => 'button forward' %>
	<% end %>
</div>