<div class='page-intro'>
	<h2>Lorem ipsum dolor</h2>
	<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	<br />
	<br />
	<%= link_to 'Post a job', jobs_new_path, :class => 'button' %>
	</p>
</div>

<div class='jobs-wrap'>
	<% @jobs.each do | cat_name, jobs | %>
		<div class='category-wrap'>
			<h3 class='title'><%= cat_name %></h3>
			<% if !jobs.present? %>
				<h5 class='no-jobs-found'>No jobs posted</h5>
			<% else %>
				<% jobs.each do |job| %>
					<div class='job'>
						<span class='company-name'><%= job.company_name %></span>
						<span class='job-title'><%= link_to job.title, job %></span>
						<span class='location'>- <%= job.city %>, <%= job.state %></span>
						<span class='posted-on'><%= job.created_at.strftime('%b %d') %></span>
					</div>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>

