<h2><%= link_to 'Post a job', jobs_new_path %></h2>

<div class='jobs-wrap'>
	<% @jobs.each do | cat_name, jobs | %>
		<div class='category-wrap'>
			<h3><%= cat_name %></h3>
			<% if !jobs.present? %>
				<h5>No jobs posted</h5>
			<% else %>
				<% jobs.each do |job| %>
					<div class='job'>
						<span class='company-name'><%= job.company_name %></span>
						<span class='job-title'><%= link_to job.title, job %></span>
						<span class='location'><%= job.city %>, <%= job.state %></span>
						<span class='posted-on'><%= job.created_at.strftime('%b %d') %></span>
					</div>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>

