<h2><%= link_to 'Post a job', jobs_new_path %></h2>

<div class='jobs-wrap'>
	<% @jobs.each do | cat_name, jobs | %>
		<div class='category-wrap'>
			<h3><%= cat_name %></h3>
			<% if !jobs.present? %>
				<h5>No jobs posted</h5>
			<% else %>
				<% jobs.each do |job| %>
					<div class='job'>
						<div class='company-name'><%= job.company_name %></div>
						<div class='job-title'><%= link_to job.title, @job %></div>
						<div class='location'><%= job.city %>, <%= job.state %></div>
						<div class='posted-on'><%= job.created_at.strftime('%b %d') %></div>
					</div>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>

