<% seeker ||= Seeker.new %>

<div class='signup-wrapper'>
  <%= form_for(seeker) do |f| %>
    <h5>Sign up and get notified when new jobs are posted in your area!</h5>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email %>
    </div>

     <div class="field">
      <%= f.label :city %><br>
      <%= f.text_field :city %>
    </div>

    <div class="field">
      <%= f.label :state %><br>
      <%= f.select :state, options_for_select(us_states, seeker.state), :name=>'state', :id=>'state' %>
    </div>

    <% get_categories.each do |category| %>
      <div class="field">
      <%= check_box_tag category.name, category.id, false, class: 'job-category'  %>
      <%= label_tag category.name %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit 'Sign up!', :class => 'forward' %>
    </div>
  <% end %>
</div>