<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags :separator => "|".html_safe, reverse: true %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-71611775-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script type='text/javascript' src='https://js.stripe.com/v2/'></script>
</head>
<body class="<%= "#{controller.controller_name} #{@body_class}".strip %>">
  <div id='site-wrap'>
		<header id='site-header'>
			<h1>We Hire Fitness</h1>
		</header>

		<% if current_admin %>
			<%= link_to 'Sign Out', destroy_admin_session_path, :method => :delete %>
		<% end %>

		<div id='site-content'>
			<h4 class='notice'><%= flash[:notice] %></h4>

			<%= yield %>
		</div>

		<footer id='site-footer'>
			<%= render 'layouts/footer' %>
		</footer>
	</div>
</body>
</html>
