<!DOCTYPE html>
<html>
<head>
  <title>Wehirefitness</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type='text/javascript' src='https://js.stripe.com/v2/'></script>
</head>
<body class="<%= "#{controller.controller_name} #{@body_class}".strip %>">
  <div id='site-wrap'>
		<header id='site-header'>
			<h1>We Hire Fitness</h1>
		</header>

		<% if current_admin %>
			<%= link_to 'Sign Out', destroy_admin_session_path, :method => :delete %>
		<% end %>
		
		<div id='site-content'>
			<h4 class='notice'><%= flash[:notice] %></h4>

			<%= yield %>
		</div>

		<footer id='site-footer'>
			<%= render 'layouts/footer' %>
		</footer>
	</div>
</body>
</html>
