<!DOCTYPE html>
<html>
<head>
  <title>Wehirefitness</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type='text/javascript' src='https://js.stripe.com/v2/'></script>
</head>
<body>


	<header id='site-header'>
		<h1><%= link_to 'We Hire Fitness', root_path%></h1>
		
		<%= link_to 'Post a job', jobs_new_path %>
		<br />
		<h4><%= flash[:notice] %></h4>
		<br/>
	</header>

	<div id='site-content'>
		<%= yield %>
	</div>

	<footer id='site-footer'>
		
	</footer>

</body>
</html>
